product/app/Photos/Photos.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
system_ext/apex/com.android.vndk.v30.apex
system_ext/etc/product/content/demovideo.mp4
system_ext/etc/product/content/demolandscapevideo.mp4
system_ext/etc/product/content/demolandscapevideo.mp4.xz
